body, html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.party {
  border: 1px solid #36454f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.parties {
  width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 35px;
}

.parties-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.parties-header h1 {
  display: inline;
  padding-left: 8px;
}

.parties-header button {
  margin-left: 10px;
}

.parties a {
  color: inherit;
  text-decoration: inherit;
}

.parties-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.party-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.party-info h1 {
  margin-bottom: 15px;
}

.party-info p {
  line-height: 1.5;
}

.party-info .name {
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.party-container {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shopping-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.shopping-list-table {
  margin-left: -9px;
  margin-top: 7px;
}

.shopping-list-header {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 8px;
}

.shopping-list ul {
  list-style: none;
}

.shopping-list .shopping-list-item, .shopping-list .shopping-list-add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 42px;
}

.shopping-list .buttons {
  width: 100px;
  margin-right: 5px;
}

.shopping-list .name {
  width: 250px;
  text-align: left;
}

.shopping-list .name .textfield {
  margin-top: 10px;
}

.shopping-list .purchased {
  width: 100px;
  text-align: left;
  display: flex;
  justify-content: center;
}

.shopping-list .price {
  width: 100px;
  text-align: left;
  display: flex;
  margin-left: 20px;
}


::placeholder {
  color: rgb(18, 18, 19);
}




label{
  margin: 20px;
}

.userData{
    display: flex;
    align-items: center;
    Width: 50%;
    margin: auto;
    margin-bottom: 30px;
    justify-content: space-around;
}

.inputField label{
    margin: 20px;
}

.pageLayout{
  display: flex;
    flex-flow: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: brown;
    opacity: 0.8;
    color: #361717;
  }

.pageLayout h2{
  margin: 20px;
}

.userMessage{
  margin-bottom: 20px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

nav ul .active {
    color: #2bbf1e;
  }

  .inputField input{
     background: none;
   }

   .pageLayout button{
     background-image: url('https://images.unsplash.com/photo-1545873509-33e944ca7655?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80');
     margin-left:20px;
     
   }

   .loginPage{
     height:30;
   }